@inherits LayoutComponentBase

<PageTitle>FactCheck</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="pics/Jaroslav ČechCV.pdf" target="_blank">O autorovi</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>